<div class="col-sm" id="pnlDetalles">
                    <div class="row">
                        <div class="col-sm align-middle img-thumbnail mx-auto rounded d-block " id="foto_producto">
                            
                        </div>
                        <div class="col-sm">
                            <div class="row ">
                                <p class="h2 text-white">$!oferta.nombre</p>
                            </div>
                            <div class="list-group">
                                <p class="list-group-item bg-secondary">
                                  Vigencia: $!oferta.fecha
                                </p>
                                <p class="list-group-item bg-secondary">Precio: $!oferta.precio</p>
                                <p class="list-group-item bg-secondary">Tienda: $!oferta.tienda</p>
                                <p class="list-group-item bg-secondary">Colonia: $!oferta.colonia</p>
                              </div>
                        </div>
                    </div>
                </div>
            </div>