<!doctype html>
<!-- Motor de plantillas: Velocity -->
<html lang="es">
    <head>
        <title>Bienvenido a $proyecto</title>   
        <meta charset="utf-8">
        <!-- Descripción -->
        <meta name="description" content="Página de inicio de bbasket.">
        <!-- Palabras clave -->
        <meta name="keywords" content="compras, canasta básica, comida, ofertas">     
        <!-- Logotipo de la página -->  
        <link rel="icon" href="assets/img/icon.png" type="image/png" sizes="16x16"> 
        <!-- Bootstrap -->
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
        <!-- Css global -->
        <link rel="stylesheet" href="css/main.css"> 
        <!-- Css de la página 'index'-->
        <link rel="stylesheet" href="css/index.css"> 
        
        
    </head>
    <body>
        <!-- Barra de navegación -->
        #parse("spark/velocity/index/navegacion.vm")
        <!-- Contenedor principal -->
        <div class="container bg-dark">
            <!-- Sección 'misión' -->
            <div class="container-fluid bg-secondary">
                <!-- Marcador a sección 'misión' -->
                <br id="mision">            
                <br>
                <h1 class="display-2">Misión</h1>
                <!-- Vm 'misión'-->
                #parse("spark/velocity/index/mision.vm")
            </div>
            <!-- Sección 'buscar' -->
            <div class="container-fluid">
                <!-- Marcador a sección 'buscar' -->
                <br id="buscar">
                <br>
                <br>
                <h1 class="display-1">Búsqueda anónima</h1>
                <!-- Sección 'Buscar'-->
                #parse("spark/velocity/index/buscar.vm")
            </div>
            <!-- Sección 'registro' -->
            <div class="container-fluid">
                <!-- Marcador a sección 'registro' -->
                <br id="registro">
                <br>
                <br>
                <h1 class="display-1">Registro</h1>
                <!-- Sección 'registro'-->
                #parse("spark/velocity/index/registro.vm")
            </div>
        </div>
        <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    </body>
</html>
