<table class="table table-striped table-dark table-hover table-bordered" id="tabla_busqueda_anonima">
    #foreach( $v in $vistas )
        #macro( d )
        <tr>
            <td>$v.getId()</td>
            <td>$v.getNombre()</td>
            <td>$v.getPrecio()</td>
            <td>$v.getTamanio()</td>
        </tr>
        #end
    #end
</table>