<!doctype html>
<html lang="es">
    <head>
        <title>Bienvenido a $proyecto</title>   
        <meta charset="utf-8">
        <meta name="description" content="Página de inicio de bbasket.">
        <meta name="keywords" content="compras, canasta básica, comida, ofertas">       
        <link rel="icon" href="assets/img/icon.png" type="image/png" sizes="16x16"> 
        
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <link rel="stylesheet" href="css/main.css"> 
        <link rel="stylesheet" href="css/index.css"> 
        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
        <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    </head>
    <body class="text-white">
        #parse("spark/velocity/vendedor/navegacion.vm")
        <div class="container bg-dark">
            <hr class="mt-3 mb-3" style="height:2px;border-width:0;color:gray;background-color:gray" />
            <br id="perfil">            
            <br>
            <h1 class="display-1">Perfil</h1>
            #parse("spark/velocity/vendedor/perfil.vm")
            <br id="buscar">
            <br>
            <hr class="mt-3 mb-3" style="height:2px;border-width:0;color:gray;background-color:gray" />
            <br>
            <h1 class="display-1">Buscar</h1>
            #parse("spark/velocity/vendedor/buscar.vm")
            <hr class="mt-3 mb-3" style="height:2px;border-width:0;color:gray;background-color:gray" />
            <br>
            <br id="Vendedor">
            <br>
            <br>
            <h1 class="display-1">Vendedor</h1>
            <br>
            <br>
            #parse("spark/velocity/vendedor/vendedor.vm")
        </div>
    </body>
</html>
