#parse("spark/velocity/layout.vm")
#@mainLayout()
<!-- Contenedor principal -->
<div class="container bg-dark d-block shadow-lg p-3 mb-5 rounded">
    <!-- Sección 'misión' -->
    <div class="container-fluid bg-secondary shadow-lg p-3 mb-5 rounded" id="misioncont">
        <!-- Marcador a sección 'misión' -->
        <p class="display-3"></p>
        <h1 class="display-4 text-center font-weight-bolder p-3 shadow-lg p-3 mb-5 rounded bg-dark" >Misión</h1>
        <!-- Vm 'misión'-->
        <div class="jumbotron jumbotron-fluid bg-dark shadow-lg p-3 mb-5 rounded"  id="mision">
        <h1 class="display-5 font-weight-bolder  text-center shadow-lg p-3 mb-5 rounded">¿Qué es $proyecto?</h1>
        <div class="container shadow-lg p-3 mb-5 rounded">
            <p class="lead text-justify">
                Las condiciones actuales del planeta requieren de algún método para poder comprar abarrotes,
                y simultáneamente reducir la exposición al mínimo. Nuestra misión al desarrollar este sistema es el ofrecer al público en
                general un medio para poder comparar precios de los productos de la canasta básica disponibles 
                en establecimientos de su comunidad sin salir de casa.
            </p>
        </div>
    </div>
</div>
#end